body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.join {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 20%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

select {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
    background-color: #007bff;
}

#join-results {
    margin-top: 20px;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-content th,
.table-content td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table-content th {
    background-color: #f2f2f2;
    color: #333;
}

.table-content tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.top-bar {
    background-color: #ccc;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}